!!! 5
%html{lang: 'en'}
  %head
    %title= page_title
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'HandheldFriendly', content: 'True'}
    = auto_detect_meta_tags
    = favicon_tag 'images/favicon.ico'
    = stylesheet_link_tag :application
    %link{rel: 'canonical', href: site_url}
    %link{rel: :stylesheet, type: 'text/css', href: '//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400'}
  %body{class: page_class}

    = yield

    %footer.site-footer.clearfix
      %section.copyright
        &copy;
        = Time.now.year
        %a{href: 'http://waxpoeticrecords.com'}
          wax poetic records
        &bull;
        %a{href: 'https://github.com/waxpoetic/brother.ly/issues/new'}
          report an issue


    = javascript_include_tag :application
    :javascript
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("#{env.segment_write_key}");
      analytics.page()
      }}();

