---
cover: blurred.jpg
priority: 1.0
---

%header.main-header{cover}
  = partial :navigation
  .vertical
    #splash.main-header-content.inner

      %h1.page-title= site_title
      %h2.page-description#slogan= site_description

      - if open_signups?
        = partial :signup
      - elsif live_event?
        / embed youtube code for live event
      - else
        %h2.page-description#signups-closed coming soon...

  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down

%main#content.content{role: :main}
  = partial :transmission
