---
name: Home
cover: blurred.jpg
priority: 1.0
---

%header.main-header{cover}
  = partial :navigation
  .vertical
    #splash.main-header-content.inner

      %h1.page-title= data.site.site

      - if live_event?
        <iframe id="stream" width="560" height="315" src="#{data.site.live_event_url}" frameborder="0" allowfullscreen></iframe>
      - elsif open_signups?
        = partial :signup
      - else
        %h2.page-description#slogan= data.site.description
        %h2.page-description#signups-closed= data.site.splash_text

  %p.scroll-text Scroll Down
  %a.scroll-down.icon-arrow-left{href: '#transmission', data: {offset: '-45'}}
    %span.hidden Scroll Down

%main#content.content{role: :main}
  = partial :transmission
